@media (min-width: 1200px) {
    .container {
        width: 960px;
        }

    .landing-page-btn {
        transition: 1s linear;
        transition-property: background, color;
        }
        
    .landing-page-btn:hover {
        background-color: #FFF;
        color: black;
    }

    .about .container h1 {
        margin-bottom: 50px;
    }

    .landing-page-shadow .container {
        height: 35%;
    }

    .offer {
        height: 734px;
    }

    .offer h1 {
        margin-bottom: 15%;
        
    }

    .box-container {
        display:grid;
        grid-template-columns: 198px 198px 198px;
        grid-template-rows: 194px 194px;
        gap: 63px;           
    
    }

    footer {
        height: 71px;
     }

     .footer-icons {
        font-size: 32px;
    }

    footer span {
        margin: 0;     
    }


}