@media (min-width: 1200px) {
    .container {
        width: 960px;
        }

/*OFFER START*/

    .offer {
        height: 734px;
    }

    .offer h1 {
        margin-bottom: 15%;
        text-align: left;
    }

    .box-container {
        display:grid;
        grid-template-columns: 198px 198px 198px;
        grid-template-rows: 194px 194px;
        gap: 63px;           
    
    }



}