
    .container {
    width: 94%;
    margin: 0 auto;
  }
  
    .about, .offer {
    padding: 60px 0;    
    }

/* NAVIGATION START */

    nav {
        position: fixed;
        width: 100%;
        background-color: #4E4E4E;
        font-size: 18px;
        z-index: 1;
    }

    nav .container {
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }   

    .nav-links{
        display:none
    }

    .mobile-nav-links ul {
          display:none;
          height: 70px;
          width: 150px;
          background-color: #4E4E4E;
        }
    
        label {
          position:relative;
          display:block;
          width:60px;
          height:60px; 
          padding: 15px;        
          font-size:34px;
        }
        
        label:after {
          position: absolute;
          width:70px;
          height:50px; 
          left: 50px;      
          content:"\2261";
          font-size:34px;
          color:white;
         
        }
        
        input[type=checkbox]:checked ~ label:after {
        
          opacity: 0;
          
        }
            
        input[type=checkbox]:checked ~ ul {
            display:block;}
            
           li {
            width:100%;
            opacity:1;
            text-align:left;
            margin-bottom: 5px;
            
        }
        
            li:after {
              position:absolute;
              right:30px;
              content:"\203A";
              font: bold 20px;
            
         }

         ul li a {
            color:#fff;
         }
    


    
/* NAVIGATION END */

/* LANDING PAGE START */

    .landing-page {
        height: 100vh;
        background-image: url(https://live.staticflickr.com/65535/49965212542_302460e73e_3k.jpg);
        background-size: cover;
        background-position: center;
        color: #FFF;
        font-weight: bold;
    }

    .landing-page-shadow {
        display: flex;
        align-items: center;
        width:100%;
        height: 100%;
        background-color: rgba (0, 0, 0, 0.3);
    }

    .landing-page-shadow .container {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 50%;    
    }

    @media (min-height: 700px) {
        .landing-page-shadow .container {
          height: 40%;
        }       
      }

    @media (max-width: 350px) {        
        .landing-page h1 {
            font-size: 30px;
        }
       
      }
    

    .landing-page p, .landing-page h1 {
        color:#FFF;
        width: 80%;     
    }

    .landing-page-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 40px;
        border: 3px solid #FFFFFF;
        }
    
    
    
/*LANDING PAGE END */

/* ABOUT START */

    .about {       
        background-color:#F1F1F1;
        
    }

    .about .container h1 {
        font-size: 36px;
        color:#152D41;
        margin-bottom: 10%;
        text-align: center;
    }

    @media (max-width: 350px) {        
        .about .container h1 {
            font-size: 30px;
        }       
      }

    .about-employee {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10%;       
    }

    .about-employee-pic {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        border-radius: 50%;
        margin-bottom: 10%;
        }
    
      .about-employee:nth-of-type(even) .about-employee-pic {
         background-image: url('https://picsum.photos/200/200');
         background-size: cover;
         background-position: center;
         
      }    
      .about-employee:nth-of-type(odd) .about-employee-pic {
        background-image: url('https://picsum.photos/250/250');
        background-size: cover;
        background-position: center;
        
      }

      .about-employee-desc {
        text-align: justify;
      }
      /* ABOUT END */

      /*OFFER START*/

    .offer {
        background-color:#405D78;      
    }

    .offer h1 {
        color:#fff;
        margin-bottom: 15%;
        text-align: center;
    }

    @media (max-width: 350px) {        
        .offer h1 {
            font-size: 30px;
        }       
      }

    .about-employee-desc h2  {
        margin-bottom: 10%;
      }

    .offer .centering-box {  
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
            
     }
    
    .box-container {
        display:grid;
        grid-template-columns: 198px; 
        grid-template-rows: 194px 194px 194px 194px 194px 194px;
        gap: 63px;           
       
    }
    
    .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 198px;
        height: 194px;
        background-color: #F1F1F1;
        transition:linear;
        transition-duration: 0.5s;
    }
    
    .box:hover {
        transform: scale(1.05);
    }
    
    
    
    .point {
        position: absolute;
        top: -11px;
        left:-11px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #E07A64;
    
    }

    /*FOOTER START*/

    footer {
        background-color: #4E4E4E;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
        height: 100%;
    }

    .footer-icons {
        display:flex;
        justify-content: space-evenly;
        width: 30%;
        color:#fff;
        font-size: 32px;
        margin-bottom: 8%;
    }

    footer span {
        margin:5% 0;
        font-weight: bold;
        font-size: 13px;
        color:#fff;
        
    }
